body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
form {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

label, input, select, button {
    font-size: 1.2em;
    margin: 10px;
}

label, input, select {
    display: block;
    margin: 10px auto;
    width: 80%;
    max-width: 300px;
    text-align: left;
}

input[type="text"], select {
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

#resultado img {
    max-width: 90%;
    height: auto;
    margin-top: 20px;
}